[hub]
  protocol = https
[user]
  name = AUTHORNAME
  email = AUTHOREMAIL
[credential]
  helper = GIT_CREDENTIAL_HELPER
[alias]
  l = log --pretty=format:'%h %ad | [%an] %s%d' --graph --date=short
  la = log --pretty=format:'%h %ad | [%an] %s%d' --graph --date=short --all
  cm = commit -m
  s = status
  b = branch
  d = diff
  co = checkout
  promote = !$ZSHDOT/bin/git-promote
  wtf     = !$ZSHDOT/bin/git-wtf
  rank-contributors = !$ZSHDOT/bin/git-rank-contributors
  count   = !git shortlog -sn
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = vim
[apply]
  whitespace = nowarn
[mergetool]
  keepBackup = false
[difftool]
  prompt = false
[help]
  autocorrect = 1
[push]
  # See `git help config` (search for push.default)
  # for more information on different options of the below setting.
  #
  # Setting to git 2.0 default to suppress warning message
  default = simple
