"*":
  core:
    audioBeep: false
    disabledPackages: [
      "about"
      "autocomplete-css"
      "autocomplete-html"
      "autosave"
      "bookmarks"
      "exception-reporting"
      "go-to-line"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-toml"
      "link"
      "metrics"
      "notifications"
      "timecop"
      "language-babel"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    warnOnLargeFileLimit: 2
  editor:
    fontSize: 16
    preferredLineLength: 200
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "067faffa-37e3-559e-f87c-fb3a0dae0193"
  welcome:
    showOnStartup: false
