"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "language-csharp"
      "language-coffee-script"
      "language-clojure"
      "language-gfm"
      "language-go"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-toml"
      "angularjs"
      "angularjs-snippets"
      "ruby-slim"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
      "node_modules"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    preferredLineLength: 250
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  emmet: {}
  "language-babel": {}
  "linter-eslint":
    useGlobalEslint: true
  react: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.plain.null-grammar"
    ]
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".angular.html.text":
  editor:
    preferredLineLength: 150
".attribute-values.js.jsx.source":
  editor:
    preferredLineLength: 150
".babel.regexp.source":
  editor:
    preferredLineLength: 150
".c.source":
  editor:
    preferredLineLength: 150
".clojure.source":
  editor:
    preferredLineLength: 150
".coffee.jsx.source":
  editor:
    preferredLineLength: 150
".cpp.source":
  editor:
    preferredLineLength: 150
".css.scss.source":
  editor:
    preferredLineLength: 150
".ini.source":
  editor:
    preferredLineLength: 150
".js.jsx.react.source":
  editor:
    preferredLineLength: 150
".js.jsx.source":
  editor:
    preferredLineLength: 150
".js.source.subtlegradient":
  editor:
    preferredLineLength: 150
".perl.source":
  editor:
    preferredLineLength: 150
".perl6.source":
  editor:
    preferredLineLength: 150
".sass.source":
  editor:
    preferredLineLength: 150
".shell.source":
  editor:
    tabLength: 4
